h1 {
    color: #f06292;
    font-family: Poppins;
    font-style: italic;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
    margin: -3;
}

body {
    font-family: sans-serif;
    background-color: #fce4ec;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/426/942/non_2x/violin-classical-music-instrument-with-on-purple-splotch-free-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1.5;
    background-color: rgba(235, 252, 228, 0.5);
}

p {
    font-size: 16px;
    align-items: center
}